
body{
    padding: 0;
    margin: 0;
    background:#f4f4f4;
}
.navbar{
    background-color: #6e144d;
}
.nav-link,.navbar-brand {
    color: #f4f4f4;cursor: pointer;
}
.nav-link:hover {
    background-color: #f4f4f4;color: #6e144d;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggle{
    background-color:#fff !important ;
}

/* header style*/
.header {
    background-image: url("https://miro.medium.com/max/1100/0*wcSbIG0Dot78JBq8");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.65);
}
.description {
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;
}
.description h1{ color: #6e144d;}
.description p{
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button{
    border: none;
    background:#666;
    color:#fff;
}
.row{
    margin: 6em 0;
    padding: 1em;
    position: relative;
}
.row h3{
    color:#F97300;
    margin: 1em 0 1em 0;
}
.row img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.row span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}
.row .desc{
    padding: 2em;
    border-left:4px solid #451e37;
}
.row .desc h3{
    color: #451e37;
}
.row .desc p{
    line-height: 2;
    color:#888;
}
#project{
    color: #451e37;
    height: 0.1em;
    padding: 0.5em 1em 0 2em;

}

.contact-form{
    margin: 6em 0;
    position: relative;
}

.contact-form h1{
    padding:2em 1px;
    color: #451e37;
}
.contact-form .right{
    max-width: 600px;
}
.contact-form .right .btn-secondary{
    background:  #888;
    color: #fff;
    border:0;
}
.contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
}
html,h1,h2,h3,h4,h5,h6,a,p{
    font-family: 'Sahitya', serif;
}
.btn-outline-info{
    margin-top: 2em;
}
